[*.cs]

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑添加 "required" 修饰符或声明为可为 null。
dotnet_diagnostic.CS8618.severity = none

# CS8620: 由于引用类型的可为 null 性差异，实参不能用于形参。
dotnet_diagnostic.CS8620.severity = none

# CS8622: 参数类型中引用类型的为 Null 性与目标委托不匹配(可能是由于为 Null 性特性)。
dotnet_diagnostic.CS8622.severity = none

# CS0067: 从不使用事件
dotnet_diagnostic.CS0067.severity = none
